:root {
    --ConPSpanC: #ffffff;
    --ContPButtonBG: #4e5052;
    --ContPButtonDisableBG: #4e505299;
    --ContPSpanBG: #3e4042;
}

.ContainerPagination {
    margin: 55px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ContainerPagination button {
    padding: 3px 8px;
    background-color: var(--ContPButtonBG);
}

.ContainerPagination button:disabled {
    background-color: var(--ContPButtonDisableBG);
}

.ContainerPagination h4 span {
    padding: 3px 9px;
    color: var(--ConPSpanC);
    background-color: var(--ContPSpanBG);
}