:root {
    --ConPSpanC: #ffffff;
    --ContPButtonBG: #4e5052;
    --ContPButtonDisableBG: #4e505299;
    --ContPSpanBG: #3e4042;
}

.ContainerPagination {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.ContainerPagination button {
    background-color: var(--ContPButtonBG);
    padding: 3px 8px;
}

.ContainerPagination button:disabled {
    background-color: var(--ContPButtonDisableBG);
}

.ContainerPagination h4 span {
    background-color: var(--ContPSpanBG);
    color: var(--ConPSpanC);
    padding: 3px 9px;
}