:root {
    --BackgroundColor: #191918;
    --FirstCircleColor: #0010ff;
    --SecondCircleColor: #0ddbff;
}

.containerLoader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    align-items: center;
    display: flex;
    font-size: 10px;
    height: 6em;
    justify-content: center;
    position: relative;
    width: 6em;
}

.loader .face {
    animation: animate023845 3s linear infinite;
    border-radius: 50%;
    border-style: solid;
    position: absolute;
}

.loader .face:nth-child(1) {
    --deg: -45deg;
    animation-direction: normal;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    color: var(--FirstCircleColor);
    height: 100%;
    width: 100%;
}

.loader .face:nth-child(2) {
    --deg: -135deg;
    animation-direction: reverse;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    color: var(--SecondCircleColor);
    height: 70%;
    width: 70%;
}

.circle1 {
    background-color: transparent;
    height: 0.1em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: left;
    transform: rotate(var(--deg));
    width: 50%;
}

.circle2 {
    background-color: transparent;
    height: 0.1em;
    left: 40%;
    position: absolute;
    top: 54%;
    transform-origin: left;
    transform: rotate(var(--deg));
    width: 50%;
}

.loader .face .circle::before {
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
        0 0 4em,
        0 0 6em,
        0 0 8em,
        0 0 10em,
        0 0 0 0.5em #ffff001a;
    content: '';
    height: 1em;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    width: 1em;
}

@keyframes animate023845 {
    to {
        transform: rotate(1turn);
    }
}