:root {
    --CardsBackgroundColor: #000000;
    --CardsBorderColor: #ffffff;
}

.ContainerPagCards {
    padding: 0px 75px;
}

.card {
    align-items: center;
    background-color: var(--CardsBackgroundColor);
    border-radius: 5px;
    border: 4px solid var(--CardsBorderColor);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    text-decoration: none;
    padding: 15px 0px;
}

.CardDetails {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.characterImage {
    border-radius: 70%;
    border: 4px solid var(--ColorWhite);
    width: 80%;
}

.info {
    text-align: center;
}

.fatherCards {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.Name {
    color: var(--ColorBlue);
}

h3 span {
    color: var(--ColorGrey);
}