:root {
    --Alive: #24ff00;
    --Dead: #ff0000;
    --Unknown: #6e6e6e;
}

.AliveDeadUnknown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circleStatus {
    font-size: x-large;
}

.Alive {
    color: var(--Alive);
}

.Dead {
    color: var(--Dead);
}

.Unknown {
    color: var(--Unknown);
}