.NavigationBar {
    width: 100vw;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #5a5a5a9e;
    position: fixed;
    left: 0;
    top: 0;
}

.RickAndMortyImage {
    width: 285px;
    margin: 22px;
}

.ButtonsContainer {
    margin: 0px 25px;
    display: flex;
    gap: 16px;
}

.button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
}